<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
      .form-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
      }
      .form-section {
        width: 45%;
        padding: 50px;
      }
      .vector-image {
        width: 200px;
        height: 200px;
        background-image: url('https://img.freepik.com/free-vector/web-development-programmer-engineering-coding-website-augmented-reality-interface-screens-developer-project-engineer-programming-software-application-design-cartoon-illustration_107791-3863.jpg?w=900&t=st=1675189973~exp=1675190573~hmac=7b8919594c9f6a6717f4678f548947778c18e48001e3e3844918e8b7890f711c');
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        border-top-right-radius: 20px;
      }
      .form-control {
        background-color: #bed7f5;
        border: none;
        border-radius: 20px;
        padding: 20px;
        font-size: 16px;
        color: #828282;
        width: 100%;
        margin-bottom: 20px;
      }
      .form-control::placeholder {
        color: #471598;
      }
      .form-btn {
        background-color: #fce6be;
        border: none;
        border-radius: 20px;
        padding: 20px 40px;
        font-size: 16px;
        color: #828282;
        width: 45%;
        margin-top: 50px;
        cursor: pointer;
        color: rgb(167, 101, 7);
      }
      .form-btn:hover {
        background-color: #FFC107;
        color: rgb(109, 68, 3);
        transition: 0.3s ease-out;
      }
      .content{
        width: 60vw;
        text-align: center;
        margin: auto;
        margin-top: -30px;
      }
    </style>
  </head>
  <body style="background-color: #f0e9f0;">
    <div class="form-container">
      <div class="form-section">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Current Password">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="New Password">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Confirm New Password">
          </div>
          <div class="form-group">
            <button class="form-btn">Save Changes</button>
            <button class="form-btn">Cancel</button>
          </div>
        </form>
      </div>
      <div class="vector-image"></div>
    </div>
    <div class="content">
        <h3>TWO FACTOR AUTHENTICATION</h3>
        <p>Two factor Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque vel adipisci repellat accusamus qui vitae eos reiciendis ea natus quod aliquid maiores molestias enim cum alias, amet corrupti voluptatem fa maiores veniam quos quo ipsum, tenetur, architecto quae consectetur recusandae voluptatibus odio nobis ut, reprehenderit libero accusantium magnam.</p></div>
  </body>
</html>
